
.dash-grid {
    display: grid;
    margin: 5rem 1rem 0 1rem;
    grid-gap: 1rem;
    .graphs {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
    .tables {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
     .texts {
        display: grid;
        grid-template-columns: repeat(5, minmax(300px, 1fr));
        grid-gap: 1rem;
    }
}