.chat-container {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.chat-messages {
    padding: 12px;
    background: transparent;
    height: 320px;
}

.msg {
    display: flex;
    gap: 8px;
    margin: 8px 0;
    align-items: flex-end;
}

.msg.user {
    justify-content: flex-end;
}

.avatar {
    width: 32px;
    height: 32px;
}

.bubble {
    padding: 8px 12px;
    border-radius: 12px;
    width: 100%;
    white-space: pre-wrap;
}

.msg.user .bubble {
    background: #e6f4ff;
}

.msg.bot .bubble {
    background: #f1f1f1;
}

.chat-input {
    display: flex;
    justify-content: space-between;
    align-items: center;


    textarea {
        width: 100%;
        height: 32px;
        resize: none;
    }

    p-button{
        margin-left: 1rem;
    }
}