.header {
    display: flex;
    justify-content: space-between;
}

.widget-menu-root {
    background-color: transparent;
    border: none;
    box-shadow: none;
   padding:0;
}
p-menubar {
    margin-right: -1rem;
}
